<form action="/cooking_videos/<%= contentPageId %>" method="post" style="display: flex; flex-direction: column;justify-content: flex-end; align-items:center; font-family: Archivo;"> 
    <div class="mb-3">
        <label for="contentCreator">Cook's Name</label>
        <br>
        <input type="text" id="contentCreator" name="contentCreator" value="<%= contentID.contentCreator %>">
      </div>
      <div class="mb-3">
        <label for="contentCountry">Cooking Style</label>
        <br>
        <input type="text" id="contentCountry" name="contentCountry" value="<%= contentID.contentCountry %>">
      </div>
      <div class="mb-3">
        <label for="contentURL">Video URL</label>
        <br>
        <input type="text" id="contentURL" name="contentUrl" value="<%= contentID.contentUrl %>">
      </div>
      <div class="mb-3 form-check">
        <input type="checkbox" class="form-check-input" id="contentCooked">
        <label class="form-check-label" for="contentCooked">Have I Cooked This Meal?</label>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>

</form>