<form action="/cooking_videos" method="post" style="display: flex; flex-direction: column;justify-content: flex-end; align-items:center; font-family: Archivo;"> 
    <!-- Content Creator -->
    <div class="mb-3">
        <label for="contentCreator">Cook's Name</label>
        <br>
        <input type="text" id="contentCreator" name="contentCreator">
      </div>
      <!-- Country of Origin -->
      <div class="mb-3">
        <label for="contentCountry">Cooking Style</label>
        <br>
        <input type="text" id="contentCountry" name="contentCountry">
      </div>
      <!-- Video URL -->
      <div class="mb-3">
        <label for="contentURL">Video URL</label>
        <br>
        <input type="text" id="contentURL" name="contentUrl">
      </div>
      <div class="mb-3">
        <label for="contentRecipe">Recipe Name</label>
        <br>
        <input type="text" id="contentRecipe" name="contentRecipe">
      </div>

      <div class="mb-3">
        <label for="contentDescription">Description</label>
        <br>
        <input type="text" height="300px" id="contentDescription" name="contentDescription">
      </div>


      <button type="submit" class="btn btn-primary">Submit</button>

</form>