<form action="/songs/<%= songId %>/?_method=PUT" method="POST">
    <label for="songName">Name</label>
    <input type="text" id="songName" name="name" value="<% song.name %>">
    <label for="songLink">Link</label>
    <input type="text" id="songLink" name="link" value="<%= song.link %>">
    <input type="submit" value="Update Song">
</form>