<form action="" method="GET">
    <label for="songFilter">Filter by Song</label>
    <input type="text" name="songFilter" id="songFilter">
    <input type="submit">
</form>

<ul>
    <% songData.forEach((song, index)=> { %>
        <li>
            <h2>
                <%= song.name %>
            </h2><iframe width="560" height="315" src=<%=song.link %> title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
            <form action="songs/<%= index %>/?_method=DELETE" method="POST">
                <input type="submit" value="Delete">
            </form>

        </li>
        <% }) %>
</ul>