<form action="/songs" method="POST">
    <label for="songName">Song</label>
    <input type="text" id="songName" name="name">
    <label for="songLink">Link</label>
    <input type="text" name="link" id="songLink">
    <input type="submit" value="Add a song">
</form>